Iphone_Sales_Analysis

In [65]:
import pandas as pd
import plotly.express as px
df = pd.read_csv(r"C:\Users\HP\Downloads\apple_products.csv")
# df.head(10)
# df.isnull().sum()
# print(df.head())
# the top 10 highest-rated iPhones in India on Flipkart
#
# df.describe()
# top_highest_rated = df.sort_values('Star Rating', ascending = False).head(10)
# top_highest_rated
#
# Top 5 highest-rated iPhones in India on Flipkart
# 1. APPLE iPhone 11 Pro Max (Midnight Green, 64 GB)
# 2. APPLE iPhone 11 Pro Max (Space Grey, 64 GB)
# 3. APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)
# 4. APPLE iPhone 11 Pro Max (Gold, 64 GB)
# 5. APPLE iPhone 11 Pro Max (Gold, 256 GB)

# The ratings of the top-highest-rated iPhones on Flipkart
#
# figure = px.bar(top_highest_rated, y = "Number Of Ratings", x = "Product Name", title = "Number of Ratings of Highest Rated iPhones")
# figure.show()

,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating
count,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000
mean,80073.887097,88058.064516,9.951613,22420.403226,1861.677419,4.575806
std,34310.446132,34728.825597,7.608079,33768.589550,2855.883830,0.059190
min,29999.000000,39900.000000,0.000000,542.000000,42.000000,4.500000
25%,49900.000000,54900.000000,6.000000,740.000000,64.000000,4.500000
50%,75900.000000,79900.000000,10.000000,2101.000000,180.000000,4.600000
75%,117100.000000,120950.000000,14.000000,43470.000000,3331.000000,4.600000
max,140900.000000,149900.000000,29.000000,95909.000000,8161.000000,4.700000

# The number of reviews of the top-highest-rated iPhones

In [66]:
# figure = px.bar(top_highest_rated, x ="Product Name", y = "Number Of Reviews", title = "Number of Reviews of Highest Rated iPhones")
# # figure.show()

# The relationship between the sale price of iPhones and their ratings

In [67]:
# figure = px.scatter(df, x = "Number Of Ratings", y = "Sale Price", size="Discount Percentage", trendline="ols",title="Relationship between Sale Price and Number of Ratings" )
# # figure.show()

# The relationship between the discount percentage price of iPhones and the number of ratings

In [68]:
# figure=px.scatter(df,x="Number Of Ratings",y="Discount Percentage",title="Relationship between Sale Price and Number of Ratings",trendline="ols",size="Sale Price" )
# # figure.show()

Conclusions
1. APPLE iPhone 8 Plus (Gold, 64 GB) was the most appreciated iPhone in India
2. iPhones with lower sale prices are sold more in India
3. iPhones with high discounts are sold more in India